<h1>ご挨拶</h1>
<p></p>


<h1>事業内容</h1>
<ul>
  <li>会員制コミュニティの運営及び会員向けのサービス提供</li>
  <li>広告代理店業</li>
  <li>営業代行業</li>
  <li>風水鑑定、風水に関わる商品の販売及び風水による各種コンサルティング</li>
  <li>結婚相談所の運営</li>
  <li>飲食店の経営</li>
  <li>有価証券の取得、売却、保有及び運用</li>
  <li>前各号に付帯又は関連する一切の事業</li>
</ul>

<h1>会社概要</h1>
<ul>
  <li>会条条社名 株式会社Enfel</li>
  <li>本社所在地 北海道札幌市中央区南２７条西13丁目1番12-203号</li>
  <li>設立　</li>
  <li>代表取締役　西陰敏晴</li>
  <li></li>
</ul>